	<a href="/">Home</a>

	<h1><%= location.name %></h1>
	<h2>Topics discussed in reviews</h2>
	<!-- TOPICS GO HERE -->
	<p>
		<!--	<%= Object.keys(topics) %> -->
		<% topics.forEach(function(aTopic){ %>
			<%= aTopic[0] %>
		<% }) %>
	</p>

	<h2>Location Info:</h2>
	<p>
		<%= location.address %>
	</p>
	<p>
		<%= location.phone %>
	</p>
	<p>
		Rating: <%= location.rating %>
		(<%= location.review_count %> reviews)
	</p>
	<p>
		<%= location.price %>
	</p>
	<p>
		<%= location.category %>
	</p>


	<h2>Reviews</h2>
	<% reviews.forEach(function(aReview){ %>
		<div class="aReview">
			<p class="aReviewHead">
				Rating: <%= aReview.rating %> &nbsp
				Date: <%= aReview.date %>
			</p>
			<p>
				<%= aReview.review %>
			</p>
		</div>
	<% }) %>